{% extends 'base.html' %} 
{% load static %}
{% load humanize %}
<!--add title to the tab-->
{% block title %} | Dashboard {% endblock %}
{% block content %}
<p> Dashboard</p>
    <!-- Enrolled Content -->
    <section id="root">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-info">
                            <h4>Enrolled Courses</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group bg-info">COURSE        Cat.       Start Date finished passed withdrawn
                                {% if enrolled %}
                                {% for en in enrolled %}
                                    <li class="list-group-item">
                                        <a>
                                             {{ en.course }}
                                             {{ en.enrollment_date }}
                                             {{ en.start_date }}
                                             {{ en.finished }}
                                             {{ en.passed }}
                                             {{ en.withdrawn }}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% else %}
                                    <div class="col-md-12">
                                        <p>No Listing Available</p>
                                    </div>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>


    <!-- Course Content -->
    <section id="root">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-info">
                            <h4>Latest Courses</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group bg-info">Course Title        Cat.       Start Date
                                {% if courses %}
                                {% for course in courses %}
                                    <li class="list-group-item">
                                        <a href="{% url 'course' course.id %}">
                                             {{ course.title }}
                                             {{ course.catagory }}
                                             {{ course.start_date }}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% else %}
                                    <div class="col-md-12">
                                        <p>No Listing Available</p>
                                    </div>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
{% endblock %}