{% extends 'base.html' %} 
{% load static %}
{% load humanize %}
<!--add title to the tab-->
{% block title %} | Dashboard {% endblock %}
{% block content %}
{% include 'partials/_alert.html' %}
<br>
<a class="button btn btn-light btn-block mx-auto bg-secondary col-12 pb-1 pt-1" style="width: 400px" href="{% url 'forums:index' %}">Discussion Forums</a>

    <!-- Enrolled Content -->
    <section id="root">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-info">
                            <h4>Enrolled Courses</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="d-inline bg-secondary">Course</h5>
                            <h5 class="d-inline bg-secondary">Category</h5>
                            <h5 class="d-inline bg-secondary">Start Date</h5>
                            <h5 class="d-inline bg-secondary">Finished</h5>
                            <h5 class="d-inline bg-secondary">Passed</h5>
                            <h5 class="d-inline bg-secondary">Withdrawn</h5>

                            <ul class="list-group bg-info">
                                {% if enrolled %}
                                {% for en in enrolled %}
                                    <li class="list-group-item">
                                        <a>
                                             {{ en.course }}
                                             {{ en.enrollment_date }}
                                             {{ en.start_date }}
                                             {{ en.finished }}
                                             {{ en.passed }}
                                             {{ en.withdrawn }}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% else %}
                                    <div class="col-md-12">
                                        <p>No Listing Available</p>
                                    </div>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Course Content -->
    <section id="root">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-info">
                            <h4>Latest Courses</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="d-inline bg-secondary">Course</h5>
                            <h5 class="d-inline bg-secondary">Category</h5>
                            <h5 class="d-inline bg-secondary">Start Date</h5>
                            <ul class="list-group bg-info">
                                {% if courses %}
                                {% for course in courses %}
                                    <li class="list-group-item">
                                        <a href="{% url 'course' course.id %}">
                                             {{ course.title }}
                                             {{ course.catagory }}
                                             {{ course.start_date }}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% else %}
                                    <div class="col-md-12">
                                        <p>No Listing Available</p>
                                    </div>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}