{% extends 'base.html' %} 
{% load humanize %}
<!--add title to the tab-->
{% block title %} | Welcome {% endblock %}
{% block content %}

    <!-- Main Content -->
    <section id="root">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3>Latest Courses</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for course in courses %}
                                <li class="list-group-item">
                                    <a href="{% url 'course_detail' course.id %}">
                                        <strong>Course ID:</strong> {{ course.id }}<br>
                                        <strong>Description:</strong> {{ course.description }}<br>
                                        <strong>Start Date:</strong> {{ course.start_date }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock %}