{% extends 'base.html' %} 
{% load humanize %}
<!--add title to the tab-->
{% block title %} | Open Source {% endblock %}
{% block content %}

    <div class="card-columns">
        <div class="card bg-secondary">
            <div class="card-body">
                <h4 class="card-title">Knowledge</h4>
                <p class="card-text">Web development stack is a combination of tools and technologies used to create websites or web applications, including the MERN, MEAN, MEVN, Serverless, LAMP, PERN, and Ruby on Rails stacks. </p>
                <p class="card-text"> A1 has all-rounded expertise to develop your mission critical applications. We can jump right into your project at all stages.</p>
            </div>
        </div>
        <div class="card bg-success">
            <div class="card-body">
                <h4 class="card-title">Mission</h4>
                <p class="card-text">Our research and development team always looks for new development technology which can improve quality and build sophisticated systems</p>
                <p class="card-text">To promote open source, we offer free open source introductory courses and frequent collaboration sessions to discuss technology trends and exchange ideas</p>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card bg-info">
            <div class="card-body">
                <h4 class="card-title">Stacks</h4>
                <img src="https://www.vectorlogo.zone/logos/python/python-icon.svg" alt="Python" width="60" height="60" margin="10">
                <img src="https://www.vectorlogo.zone/logos/djangoproject/djangoproject-icon.svg" alt="Django" width="60" height="60" margin="10">
                <img src="https://www.vectorlogo.zone/logos/postgresql/postgresql-icon.svg" alt="PostgreSQL" width="60" height="60" margin="10">
                <img src="https://www.vectorlogo.zone/logos/mongodb/mongodb-icon.svg" alt="MongoDB" width="60" height="60" margin="10">
                <img src="https://www.vectorlogo.zone/logos/expressjs/expressjs-icon.svg" alt="Express.js" width="60" height="60" margin="10">
                <img src="https://www.vectorlogo.zone/logos/reactjs/reactjs-icon.svg" alt="React" width="60" height="60" margin="10">
                <img src="https://www.vectorlogo.zone/logos/nodejs/nodejs-icon.svg" alt="Node.js" width="60" height="60" margin="10">
                <img src="https://www.vectorlogo.zone/logos/google/google-icon.svg" alt="Google" width="60" height="60" margin="10">
                <img src="https://www.vectorlogo.zone/logos/angular/angular-icon.svg" alt="Angular" width="60" height="60" margin="10">
                <img src="https://www.vectorlogo.zone/logos/javascript/javascript-icon.svg" alt="JavaScript" width="60" height="60" margin="10">
                <img src="https://www.vectorlogo.zone/logos/vuejs/vuejs-icon.svg" alt="Vue.js" width="60" height="60" margin="10">
                <img src="https://www.vectorlogo.zone/logos/ruby/ruby-icon.svg" alt="Ruby" width="60" height="60" margin="10">
                </p>
            </div>
        </div>

    </class=>

    </div>


{% endblock %}