{% extends 'base.html' %} 
{% load humanize %}
<!--add title to the tab-->
{% block title %} | Course List {% endblock %}
{% block content %}
<section id="root">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-info">
                        <h4>Latest Courses</h4>
                        <h4>Latest Courses2</h4>

                    </div>
                    <div>
                    <h3 class="d-inline bg-success">Course Title</h3>
                    <h3 class="d-inline bg-success">Category</h3>
                    </div>
                
                    <div class="card-body">
                        <ul class="list-group bg-secondary>Course Title        Cat.       Start Date
                            {% if courses %}
                            {% for course in courses %}
                                <li class="list-group-item">
                                    <a href="{% url 'course' course.id %}">
                                         {{ course.title }}
                                         {{ course.catagory }}
                                         {{ course.start_date }}
                                    </a>
                                </li>
                            {% endfor %}
                            {% else %}
                                <div class="col-md-12">
                                    <p>No Listing Available</p>
                                </div>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


{% endblock %}