{% extends 'base.html' %} 
{% load humanize %}
<!--add title to the tab-->
{% block title %} | Forum {% endblock %}
{% block content %}

{% include 'partials/_alert.html' %}

<!-- Forum Posting-->
    <section id="Postings">
      <div class="w3-row">
      <div class="w3-rest w3-container text-left" style="height:300px;">
        {% if forum %}
            <div class="inline-block"><p>{{ forum.create_by }}</p></div>
            <div class="inline-block fas fa-clock"><p>{{forum.created_at|timesince}}</p></div>
            <li class="list-group-item">
            <a href="{% url 'forums' forums.id %}">
              {{ forum.message }}
            </a>
            </li>
            {% if forum.photo_main %}
            <div class="w3-row">
              <div class="w3-col s4"><img src={{forum.photo_main.url}}></div>
            </div>
            {% endif %}
            {% if forum.photo_1 %}
            <div class="w3-row">
              <div class="w3-col s4"><img src={{forum.photo_1.url}}></div>
            </div>
            {% endif %}
            {% if forum.photo_2 %}
            <div class="w3-row">
              <div class="w3-col s4"><img src={{forum.photo_2.url}}></div>
            </div>
            {% endif %}
            <hr>
            <div>
              <a># posts: {{forum.post_count}}</a>
            </div>
        {% else %}
            <p>no Forum found</p>
        {% endif %}
        <!-- posts -->
        {% if post %}
          {% for item in post}
        {% end for %}
        {% else %}
          <p>no post</p>
        {% endif %}
        <hr>
      </div>
      </div>
    </section>

{% endblock %}